<md-dialog aria-label="Error"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Uh-Oh!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Please fix the following errors:</h2>
        <ul>
          <li ng-repeat="message in messages">
            {{ message.msg }}
          </li>
        </ul>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="hide()">
       Close
      </md-button>
    </md-dialog-actions>
</md-dialog>